<FormBaseComponent TViewModel="FacultyViewModel" ViewModel="FacultyViewModel" SystemFeature="SystemFeatureType" FormTitle="@($"{SystemFeatureType.ToString()} Faculty")"
                   HandleValidSubmit="HandleValidSubmit" OnCancel="@(() => _navigationManager.NavigateTo("/faculties"))">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="name">
                Name
                <span class="text-danger">*</span>
            </label>
            <InputText class="form-control" @bind-Value="FacultyViewModel.Name"
                       disabled="@(SystemFeatureType.Equals(SystemFeatureType.Details) || SystemFeatureType.Equals(SystemFeatureType.Delete))" />
            <ValidationMessage For="@(() => FacultyViewModel.Name)" />
        </div>
        <div class="form-group col-md-6">
            <label for="name">
                NameSecondLanguage
                <span class="text-danger">*</span>
            </label>
            <InputText class="form-control" @bind-Value="FacultyViewModel.NameSecondLanguage"
                       disabled="@(SystemFeatureType.Equals(SystemFeatureType.Details) || SystemFeatureType.Equals(SystemFeatureType.Delete))" />
            <ValidationMessage For="@(() => FacultyViewModel.NameSecondLanguage)" />
        </div>
    </div>
</FormBaseComponent>