<FormBaseComponent TViewModel="ApplicationStageViewModel" ViewModel="ApplicationStageViewModel" SystemFeature="SystemFeatureType" FormTitle="@($"{SystemFeatureType.ToString()} Residence")"
                   HandleValidSubmit="HandleValidSubmit" OnCancel="@(() => _navigationManager.NavigateTo("/ApplicationStages"))">
    <div class="form-group col-md-6 form-row">
        <label for="Status" class="col-md-4">
            Status
            <span class="text-danger">*</span>
        </label>
        <InputRadioGroup @bind-Value="ApplicationStageViewModel.StageStatus" TValue="StageStatus" Name="Status">
            <div class="form-check col-md-4">
                <InputRadio Value="StageStatus.Opened" class="form-check-input"
                       disabled="@(SystemFeatureType.Equals(SystemFeatureType.Details) || SystemFeatureType.Equals(SystemFeatureType.Delete))" />
                <label for="Status" class="form-check-label">
                    opened
                </label>
            </div>
             <div class="form-check col-md-4">
                 <InputRadio Value="StageStatus.Closed" class="form-check-input"
                       disabled="@(SystemFeatureType.Equals(SystemFeatureType.Details) || SystemFeatureType.Equals(SystemFeatureType.Delete))" />
                <label for="Status" class="form-check-label">
                    closed
                </label>
            </div>
        </InputRadioGroup>
        <ValidationMessage For="@(() => ApplicationStageViewModel.StageStatus)" />
    </div>
    <div class="form-group col-md-6">
        <label for="name">
            Phase End Time
            <span class="text-danger">*</span>
        </label>
        <InputDate class="form-control" @bind-Value="ApplicationStageViewModel.EndTime"
                   disabled="@(SystemFeatureType.Equals(SystemFeatureType.Details) || SystemFeatureType.Equals(SystemFeatureType.Delete))" />
        <ValidationMessage For="@(() => ApplicationStageViewModel.EndTime)" />
    </div>
</FormBaseComponent>